#searchBox, .top-search-ico-close {
    display: none;
}

ul {
    list-style: none;
}

#header_top {
    background-color: #88b44e;
}

.cart_count {
    background-color: #1b2b06;
    font-size: 10px;
    padding: 2px;
    border-radius: 15px;
    position: relative;
    top: 5px;
    left: -7px;
}

.theme_bg {
    background-color: #88b44e;
}

a {
    text-decoration: none;
    color: black;
}

.theme_color, .nav-item:hover a {
    color: #88b44e !important;
}


.navbar-brand, .nav-link {
    color: #fff;
}

.navbar-light .navbar-nav .nav-link, .navbar-light .navbar-nav .nav-link:focus {
    color: #000;
}

.top_nav div {
    padding: 0 10px;
}

.site_title img {
    height: 50px;
}

.banner_img {
    background-image: url(../images/Untitled-1.jpg);
    background-position: center;
}

.banner_section {
    position: relative;
    z-index: 1;
    background-size: cover;
    background-position: center;
    background-color: #333;
    color: #fff;
}

.banner_section:after {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    content: "";
    background: #000;
    z-index: -1;
    opacity: 0.6;
}

.banner_info {
    padding: 150px 0px;
    margin: 110px 0px 60px;
}

.banner_info h1 {
    font-size: 75px;
}

.banner_info p {
    color: #fff;
}

.item_1 {
    background-color: #f5f8f2;
    border-top-left-radius: 80px;
    border-bottom-left-radius: 80px;
}

.item_2 {
    background-color: #252c30;
}

.item_3 {
    border-top-right-radius: 80px;
    border-bottom-right-radius: 80px;
}

section#service {
    position: relative;
    top: -70px;
    z-index: 99;
}

.about_img {
    height: 90px;
    width: 90px;
}

.about_img img {
    height: 67px;
    width: 56px;
}

.theme_btn:hover i {
    color: #1b2b06 !important;
}

.theme_btn {
    background-color: #1b2b06;
}

.theme_btn:hover {
    background-color: #88b44e;
}

#our_products {
    background-color: #f5f8f2;
}

.product_hover {
    content: "";
    height: 100%;
    width: 100%;
    background-color: #ffffff54;
    display: none;
    border-bottom: 5px solid #88b44e;
}

.single_product:hover .product_hover {
    display: block;
}

.product_btn {
    margin-top: 28%;
}

.card {
    overflow: hidden;
}

.blog img:hover {
    transform: scale(1.1);
    transition: all 1s;
}

.blog:hover .card {
    box-shadow: none !important;
    transition: box-shadow .8s;
}

.blog:hover .card {
    border-bottom: 5px solid #88b44e !important;
}

#blogs {
    background-color: #f5f8f2;
}

.social_icon ul {
    margin: 0;
    padding: 0;
    float: right;
}

.social_icon ul li {
    float: left;
    width: 50px;
    height: 50px;
    background-color: #88b44e;
    margin-left: 10px;
    text-align: center;
    border-radius: 50%;
}

.social_icon ul li span {
    color: #fff;
    margin-top: 36%;
}

.footer_top {
    background-color: #252c30;
}

.footer_menu ul {
    margin: 0;
    padding: 0;
}

.footer_menu ul li {
    color: #88b44e;
    margin-top: 10px;
}

.footer_menu ul li a {
    color: #fff;
}

.footer_menu ul li i {
    margin-right: 10px;
}

.footer_menu ul li a:hover, .contact_info p:hover {
    color: #88b44e;
    transition: all .5s;
}

.contact_info p {
    color: #fff;
}

.contact_info i {
    margin-right: 10px;
}

.footer_bottom {
    background-color: #1c2124;
}

.footer_bottom p:hover {
    color: #fff;
    transition: all .5s;
}

.footer_bottom a:hover i {
    color: #000 !important;
    background-color: #fff;
    transition: all .5s;
}

.about_bg {
    background-image: url(http://jannatultea.com/assets/img/block-green-cups-full.png) !important;
    background-position: center;
    background-repeat: no-repeat;
    height: 650px;
}

.breadcomb_info {
    margin-top: 192px;
}

#breadcomb {
    height: 500px;
}

.silde_bar {
    background-color: #f5f8f2;
}

.theme_border {
    border: 1px solid #88b44e;
}

.filter input {
    width: 120px;
}

.open_hours {
    padding: 0;
}

.open_hours li {
    margin: 10px 0px;
}

.single_blog img {
    width: 1400px;
}

thead {
    background-color: #252c30;
    color: #fff;
    height: 50px;
    text-align: center;
}

tbody {
    text-align: center;
    border-bottom: 1px solid #ddd;
}

tbody td {
    border-right: 1px solid #ddd;
}

tbody td:nth-child(1) {
    border-left: 1px solid #ddd;
}

textarea {
    border-radius: 50px !important;
}

abbr.required {
    color: red;
    text-decoration: none;
}


.single-product {
    background-repeat: no-repeat;
    background-size: cover;
}

.single-product {
    width: 100%;
    height: 500px;
}

.product-wrapper {
    background-color: #f5f8f2;
    margin: 0px 20px;
    top: -50px;
}

.catagory .col {
    background-color: #f5f8f2 !important;
}

.product-wrapper h3 {
    color: #000;
    text-align: center;
    padding: 20px;
}


.product-wrapper:hover h3 {
    color: #88b44e;
    transition: color .5s;
}

.products-carousel.owl-carousel .owl-stage-outer {
    overflow: inherit;
}

.owl-dots div {
    height: 5px;
    width: 20px;
    display: inline-block;
    background: #E0E0E0;
    margin: 2px;
}

.owl-dots div.active {
    background-color: #88b44e;
}

.owl-dots {
    text-align: center;
    margin-top: 20px;
}

body {
    overflow-x: hidden;
}

.mainmenu {
    background-color: #000000bf;
}

nav#myHeader {
    position: absolute;
    top: 61px;
    width: 100%;
    background: #00000080;
    z-index: 999;
}

.sticky {
    position: fixed !important;
    top: 0 !important;
    z-index: 9999 !important;
    background: #252c30 !important;
    width: 100% !important;
}

.banner_section .theme_btn, .product_buy_btn {
    background-color: #88b44e;
}

.banner_section .theme_btn i, .product_buy_btn i {
    color: #1b2b06 !important;
}

.banner_section .theme_btn:hover, .product_buy_btn:hover, .product_info_btn:hover {
    background-color: #1b2b06;
}

.banner_section .theme_btn:hover i, .product_buy_btn:hover i, .product_info_btn:hover i {
    color: #88b44e !important;
}

.about_bg .theme_btn:hover, #cta .theme_btn:hover, .product_info_btn {
    background-color: #fff;
    color: #1b2b06 !important;
}

.product_info_btn:hover {
    color: #fff !important;
}

.description_info,.description a {
    background-color: #f5f8f2;
}

.account_menu li {
    margin-bottom: 10px;
}

.account_menu li i {
    color: #88b44e;
    margin-right: 10px;
}

.account_menu li:hover a {
    color: #88b44e;
    transition: color .5s;
}

.account_menu{
    border-top: 5px solid #88b44e;
}