#searchBox, .top-search-ico-close {
    display: none;
}

/* #header_top ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#header_top ul li a {
    text-decoration: none;
    color: black;
}

#header_top ul li {
    float: right;
    padding:0 10px
}
*/
ul{
    list-style: none;
}

#header_top {
    background-color: #88b44e;
}
.theme_bg {
    background-color: #88b44e;
}

.top_nav div {
    padding: 0 10px;
}

a {
    text-decoration: none;
    color: black;
}

.theme_color{
    color: #88b44e;
}

#banner h1 {
    font-size: 75px;
}
/* 
#banner{
    background-image: url("/assets/images/Untitled-1.jpg");
} */

.slider_bg_color{
    background-color: #000;
}
.opacity{
    opacity: .7;
}

.header {
    margin: 0;
    display: inline-block;
    vertical-align: middle;
    padding-left: 25px;
    text-align: left;
}
.header span {
    display: block;
}
.item_1 {
    background-color: #f5f8f2;
    border-top-left-radius: 80px;
    border-bottom-left-radius: 80px;
}
.item_2 {
    background-color: #252c30;
}
.item_3 {
    border-top-right-radius: 80px;
    border-bottom-right-radius: 80px;
}
section#service {
    position: relative;
    top: -70px;
}
/* .single_about img {
    height: 100px;
    width: 100px;
} */

.about_img {
    height: 90px;
    width: 90px;
}

.about_img img {
    height: 67px;
    width: 56px;
}

.theme_btn{
    background-color: #1b2b06;
}

.theme_btn:hover{
    background-color: #88b44e;
}
#our_products {
    background-color: #f5f8f2;
}

.card-footer {
    content: "";
    height: 100%;
    width: 100%;
    background-color: #fff;
    opacity: .6;
    display: none;
    border-bottom: 5px solid #88b44e;
}
.single_product:hover .card-footer{
    display: block;
}

.product_btn{
    margin-top: 28%;
}